<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Da Gio's - final receipt">
    <title>Da Gio's - Receipt</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Yellowtail&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/finalProject.css">
</head>

<body class="receiptPage">
    <h1>Da Gio's</h1>

    <div id="displayReceiptHeader">
        <div>
            <h3><u>Receipt</u></h3>
        </div>
        <div id="insertHeader"></div>
        <h3>Order</h3>
        <div id="insertPizza"></div>
        <div id="insertTax"></div>
        <div id="insertTotal"></div>
    </div>
    <script src="/receipt.js"></script>
</body>

</html>